<footer id="footer" class="footer">
    <div class="footer__wrapper container d-flex-center">
        <img src="{{ asset('assets/medias/logos/logoPL.png') }}" alt="PFO" height="75">

        <img src="{{ asset('assets/medias/logos/logoPFO.png') }}" alt="PFO" height="75">
    </div>
</footer>