<header id="header" class="">
    <nav class="navbar">
        <a class="logo">
            <img class="logo__img" src="{{ asset('assets/medias/logos/logoPL_white.png') }}" alt="LPL" height="45px">
        </a>
        <div class="navbar__div">
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="">Présentation</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div></div>
    </nav>
</header>