<header id="header" class="header">
    <nav class="navbar">
        <a class="logo" href="">
            <img class="logo__img img__wht" src="{{ asset('assets/medias/logos/logoPL_white.png') }}" alt="LPL" height="30px">
            <img class="logo__img img__blk" src="{{ asset('assets/medias/logos/logoPL.png') }}" alt="LPL" height="30px">
        </a>
        <div class="navbar__div">
            <ul class="navbar__menu">
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#presentation">Présentation</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="mobil__menu">
            <a href="{{asset('assets/docs/Plaquette_Le_Passage_Lumiere.pdf')}}" target="_blank" class="btn btn__prm download" download>
                <span class="d-block d-md-none btn_icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M19 9h-4V3H9v6H5l7 8zM4 19h16v2H4z"></path></svg></span>
                <span class="d-none d-md-block">Télécharger la </span> brochure
            </a>
            <button class="btn btn__menu" onclick="document.querySelector('.header').classList.toggle('is-menuDisplayed')">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;transform: ;msFilter:;"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
            </button>
        </div>
    </nav>
</header>