{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}

{% block body %}
<section id="carrousel" class="carrousel">
    <div class="carrousel__div" style="background: url({{asset('assets/medias/bg/homeCover.png')}}) top / cover no-repeat;">
        <div class="container grid-container">
            <div class="carrousel__title">
                <h1><span class="fw-100">Des </span>commerces <br><span class="fw-100">en plein coeur de Zone 4</span></h1>
                <p>Livraison : 2<sup>e</sup> semestre 2025</p>
            </div>
            <div class="carrousel__form-div d-flex-end">
                <div>
                    <div class="d-flex-end mb-2">
                        <span>Développé par</span>
                        <img src="{{ asset('assets/medias/logos/logoPFO_white.png') }}" alt="PFO" height="45">
                    </div>
                    <form action="" method="post" class="carrousel__form">
                        <span class="carrousel__form-title _font-reem-kufi-uniquifier">Nous vous répondons</span>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Raison sociale</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Nom & Prénom</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Email</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Télephone</label>
                        </div>
                        <div class="d-flex-center">
                            <label for="bureau">
                                <input type="radio" name="type" id="bureau">
                                Bureau
                            </label>
                            <label for="commerce">
                                <input type="radio" name="type" id="commerce">
                                Commerce
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="presentation" class="container">
    <div class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero aspernatur aliquam reprehenderit aut beatae quidem possimus placeat facilis repellat voluptatum dignissimos ipsum, numquam reiciendis, nobis doloremque eveniet officia at accusantium.
    </div>
    <div class=""></div>
</section>
{% endblock %}
