{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}

{% block body %}
<section id="carrousel" class="carrousel">
    <div class="carrousel__div" style="background: url({{asset('assets/medias/bg/homeCover.png')}}) top / cover no-repeat;">
        <div class="container grid-container">
            <div class="carrousel__title">
                <h1><span class="fw-100">Des </span>commerces <br><span class="fw-100">en plein coeur de Zone 4</span></h1>
                <p>Livraison : 2<sup>e</sup> semestre 2025</p>
            </div>
            <div class="carrousel__form-div d-flex-end">
                <div>
                    <div class="d-flex-end mb-2">
                        <span>Développé par</span>
                        <img src="{{ asset('assets/medias/logos/logoPFO_white.png') }}" alt="PFO" height="45">
                    </div>
                    <form action="" method="post" class="carrousel__form">
                        <span class="carrousel__form-title _font-brother-1816">Nous vous répondons</span>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Raison sociale</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Nom & Prénom</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Email</label>
                        </div>
                        <div class="input-container">
                            <input type="text" required=""/>
                            <label>Télephone</label>
                        </div>
                        <div class="input-container">
                            <textarea rows="3" required=""/></textarea>
                            <label>Quelle activité souhaitez-vous installer ?</label>
                        </div>
                        <div class="d-flex-center my-1">
                            <button class="btn__prm">Envoyer</button>
                        </div>
                        <span class="carrousel__form-desc">Un e-mail incluant les tarifications de location
                            demandées vous sera transmis dans les
                            meilleurs délais.</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="presentation" class="container grid-container">
    <div class="presentation__text">
        <span class="title__prm">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="367" height="121" viewBox="0 0 486.043 157.252">
                <defs>
                <clipPath id="clip-path">
                    <rect id="Rectangle_365" data-name="Rectangle 365" width="486.043" height="157.252" fill="none"/>
                </clipPath>
                </defs>
                <g id="Groupe_676" data-name="Groupe 676" clip-path="url(#clip-path)">
                <path id="Tracé_2090" data-name="Tracé 2090" d="M67.3,26.05c0,6.9-5.6,10.5-13.7,10.5H40.9v-36H52.549c7.652,0,13.4,3.35,13.4,10.1a7.514,7.514,0,0,1-4.6,7,8.882,8.882,0,0,1,5.949,8.4M52.851,15.55a10.759,10.759,0,0,0,2.9-.3,3.93,3.93,0,0,0,2.4-3.951c0-3-2.05-4.6-5.1-4.6h-4.8v8.85ZM48.25,30.4h5.7c3.049,0,5.45-1.7,5.45-4.851s-2.2-4.8-4.95-4.8h-6.2Z" fill="#040405"/>
                <rect id="Rectangle_362" data-name="Rectangle 362" width="7.7" height="36.002" transform="translate(75.049 0.55)" fill="#040405"/>
                <path id="Tracé_2091" data-name="Tracé 2091" d="M92.549,36.552V.55h11.5c12.25,0,20,7.45,20,18s-7.7,18-19.9,18ZM100.248,7V30.1h3.8c7.7,0,12.25-5,12.25-11.551C116.3,12.05,111.749,7,103.948,7Z" fill="#040405"/>
                <path id="Tracé_2092" data-name="Tracé 2092" d="M144.048,26.3c0,7.7-3.75,10.951-10.551,10.951a12.162,12.162,0,0,1-5-.95V29.8a8.452,8.452,0,0,0,3.75.9c2.65,0,4.1-1.349,4.1-4.049V.55h7.7Z" fill="#040405"/>
                <path id="Tracé_2093" data-name="Tracé 2093" d="M220.3,37.1,200.547,18.151,198.2,16.1V36.552h-7.55V0h.3l19.7,18.951,2.3,2.05V.55h7.6V37.1Z" fill="#040405"/>
                <path id="Tracé_2094" data-name="Tracé 2094" d="M31.452,69.4A21.6,21.6,0,0,0,21.5,66.9c-7.3,0-11.9,5.25-11.9,11.65A11.238,11.238,0,0,0,21.251,90.2,22.805,22.805,0,0,0,31.7,87.7v7.15a24.849,24.849,0,0,1-11,2.4A18.327,18.327,0,0,1,1.9,78.55c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                <path id="Tracé_2095" data-name="Tracé 2095" d="M83.549,84.251v12.3h-7.7v-36h11.7c8.3,0,13.851,4.1,13.851,11.85S95.85,84.251,87.549,84.251Zm0-17.251V77.751h4.4C91.3,77.751,93.6,76,93.6,72.4S91.2,67,87.749,67Z" fill="#040405"/>
                <rect id="Rectangle_363" data-name="Rectangle 363" width="7.7" height="36.002" transform="translate(108.248 60.55)" fill="#040405"/>
                <path id="Tracé_2096" data-name="Tracé 2096" d="M140.1,67V96.552h-7.7V67H122.347V60.55H150.2V67Z" fill="#040405"/>
                <path id="Tracé_2097" data-name="Tracé 2097" d="M190.747,96.552v-36h7.7V90.1H212.3v6.45Z" fill="#040405"/>
                <path id="Tracé_2098" data-name="Tracé 2098" d="M219.1,96.552v-36h20.8V67H226.8v8.2h13.1v6.2H226.8v8.7h13.1v6.45Z" fill="#040405"/>
                <path id="Tracé_2099" data-name="Tracé 2099" d="M465.242,156.552v-36h20.8V127h-13.1v8.2h13.1v6.2h-13.1v8.7h13.1v6.45Z" fill="#040405"/>
                <rect id="Rectangle_364" data-name="Rectangle 364" width="7.7" height="36.002" transform="translate(4.15 120.55)" fill="#040405"/>
                <path id="Tracé_2100" data-name="Tracé 2100" d="M51.3,157.1,31.551,138.151,29.2,136.1v20.451H21.65V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2101" data-name="Tracé 2101" d="M88.651,129.4a21.6,21.6,0,0,0-9.951-2.5c-7.3,0-11.9,5.25-11.9,11.65A11.238,11.238,0,0,0,78.45,150.2,22.805,22.805,0,0,0,88.9,147.7v7.15a24.849,24.849,0,0,1-11,2.4,18.327,18.327,0,0,1-18.8-18.7c0-10.5,7.95-18.7,19.051-18.7a22.1,22.1,0,0,1,10.5,2.5Z" fill="#040405"/>
                <path id="Tracé_2102" data-name="Tracé 2102" d="M112.85,119.849A18.7,18.7,0,1,1,94,138.551a18.458,18.458,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                <path id="Tracé_2103" data-name="Tracé 2103" d="M168.9,157.1l-19.751-18.951L146.8,136.1v20.451h-7.55V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2104" data-name="Tracé 2104" d="M193.3,127v29.552h-7.7V127H175.547v-6.45H203.4V127Z" fill="#040405"/>
                <path id="Tracé_2105" data-name="Tracé 2105" d="M226.348,119.849a18.7,18.7,0,1,1-18.851,18.7,18.458,18.458,0,0,1,18.851-18.7m0,30.352c6.5,0,11.1-5.2,11.1-11.65,0-6.4-4.6-11.651-11.1-11.651s-11.1,5.25-11.1,11.651c0,6.45,4.6,11.65,11.1,11.65" fill="#040405"/>
                <path id="Tracé_2106" data-name="Tracé 2106" d="M282.347,143.451c0,8.4-5.55,13.8-15.051,13.8-9.45,0-15.051-5.4-15.051-13.8v-22.9h7.7V142.7c0,4.7,2.65,7.5,7.35,7.5,4.751,0,7.351-2.8,7.351-7.5V120.55h7.7Z" fill="#040405"/>
                <path id="Tracé_2107" data-name="Tracé 2107" d="M304.3,120.55c8.351,0,13.9,4.15,13.9,11.85a10.533,10.533,0,0,1-6.85,10.251l7.55,13.9h-8.15l-6.351-12.6h-5.2v12.6h-7.55v-36ZM299.2,127v10.751h5.5c3.4,0,5.75-1.7,5.75-5.351,0-3.6-2.449-5.4-5.95-5.4Z" fill="#040405"/>
                <path id="Tracé_2108" data-name="Tracé 2108" d="M355.947,157.1,336.2,138.151l-2.351-2.05v20.451h-7.55V120h.3l19.7,18.951,2.3,2.05V120.55h7.6V157.1Z" fill="#040405"/>
                <path id="Tracé_2109" data-name="Tracé 2109" d="M429.145,146.05c0,6.9-5.6,10.5-13.7,10.5h-12.7v-36h11.65c7.651,0,13.4,3.35,13.4,10.1a7.514,7.514,0,0,1-4.6,7,8.882,8.882,0,0,1,5.95,8.4m-14.45-10.5a10.759,10.759,0,0,0,2.9-.3,3.93,3.93,0,0,0,2.4-3.951c0-3-2.05-4.6-5.1-4.6h-4.8v8.85Zm-4.6,14.851h5.7c3.05,0,5.45-1.7,5.45-4.851s-2.2-4.8-4.95-4.8h-6.2Z" fill="#040405"/>
                <path id="Tracé_2110" data-name="Tracé 2110" d="M436.893,156.552v-36h7.7V150.1h13.851v6.45Z" fill="#040405"/>
                <path id="Tracé_2111" data-name="Tracé 2111" d="M17.751,0h-.3L0,36.552H8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2112" data-name="Tracé 2112" d="M52.7,60h-.3L34.95,96.552H43L45.8,90.2l2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351H70.2Z" fill="#040405"/>
                <path id="Tracé_2113" data-name="Tracé 2113" d="M167.6,60h-.3L149.848,96.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2114" data-name="Tracé 2114" d="M379.6,120h-.3l-17.451,36.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351h8.05Z" fill="#040405"/>
                <path id="Tracé_2115" data-name="Tracé 2115" d="M167.5,0h-.3L149.747,36.552h8.05l2.8-6.351,2.35-5.4c1.5-3.4,3.4-8.2,4.45-10.7,1.1,3.15,2.7,6.95,4.35,10.7l2.3,5.4,2.9,6.351H185Z" fill="#040405"/>
                </g>
            </svg>
        </span>
        <div class="presentation__text-div">
            <div class="d-flex gap-2 mb-2">
                <span class="icones d-flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49.175" height="49.104" viewBox="0 0 49.175 49.104">
                        <defs>
                            <clipPath id="clip-path">
                            <rect id="Rectangle_314" data-name="Rectangle 314" width="49.175" height="49.104" fill="none"/>
                            </clipPath>
                        </defs>
                        <g id="Groupe_506" data-name="Groupe 506" clip-path="url(#clip-path)">
                            <path id="Tracé_1852" data-name="Tracé 1852" d="M349.922,158.7v28.866A3.121,3.121,0,0,1,348,189.487H337.55a2.72,2.72,0,0,1-1.773-1.535,12.979,12.979,0,0,1-.08-4.97c.066-.222.313-.435.313-.639s-.266-.5-.331-.718a15.18,15.18,0,0,1,0-4.7c.067-.225.328-.508.328-.72,0-.174-.242-.509-.307-.74a13.964,13.964,0,0,1,0-4.758c.066-.222.313-.435.313-.639s-.266-.5-.331-.718a15.18,15.18,0,0,1,0-4.7c.067-.225.328-.507.328-.72s-.265-.5-.33-.718a14.645,14.645,0,0,1,.03-4.769,2.691,2.691,0,0,1,2.286-1.742c3.031.174,6.4-.273,9.39-.015a2.737,2.737,0,0,1,2.538,2.017m-2.228.215c-.106-.106-.352-.11-.5-.123l-9.168.046c-.278.1-.347.306-.38.579a12.263,12.263,0,0,0,.188,3.364l9.72.023a.357.357,0,0,0,.212-.172,25.93,25.93,0,0,0,.051-3.217c-.012-.149-.017-.395-.123-.5m-9.594,6.04a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.514l9.62-.029a.365.365,0,0,0,.172-.212,29.37,29.37,0,0,0,.017-3.335c-.041-.215-.186-.308-.377-.39Zm0,6.138a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.515l9.62-.029a.365.365,0,0,0,.172-.212,29.372,29.372,0,0,0,.017-3.335c-.041-.215-.186-.308-.377-.39Zm0,6.138a.493.493,0,0,0-.3.175,13.461,13.461,0,0,0-.142,3.3.662.662,0,0,0,.349.514l9.62-.029a.365.365,0,0,0,.172-.212,29.372,29.372,0,0,0,.017-3.335c-.041-.214-.186-.308-.377-.39Zm9.594,6.235c-.106-.106-.352-.11-.5-.123l-9.168.046c-.278.1-.347.306-.38.579a12.263,12.263,0,0,0,.188,3.364l9.72.023a.357.357,0,0,0,.212-.172,25.93,25.93,0,0,0,.051-3.217c-.012-.149-.017-.395-.123-.5" transform="translate(-300.746 -140.383)"/>
                            <path id="Tracé_1853" data-name="Tracé 1853" d="M180.281,242.743H169.732a2.822,2.822,0,0,1-1.919-2.253,17.41,17.41,0,0,1,.173-4.336c.065-.185.306-.413.306-.556s-.265-.421-.335-.624a16.327,16.327,0,0,1,0-4.888c.063-.2.3-.5.316-.643.01-.125-.192-.316-.25-.484a13.824,13.824,0,0,1-.04-5.081c.065-.184.306-.413.306-.556s-.265-.421-.335-.624a16.4,16.4,0,0,1,0-4.888,2.743,2.743,0,0,1,2.311-1.717c3,.137,6.224-.223,9.2-.016a2.751,2.751,0,0,1,2.606,1.805,14.712,14.712,0,0,1-.088,4.94c-.056.169-.262.352-.251.482.012.146.253.446.316.643a14.307,14.307,0,0,1-.064,5.012c-.056.169-.262.352-.251.482.013.155.259.441.318.641a14.248,14.248,0,0,1-.068,5.013c-.058.168-.26.358-.25.484.013.155.259.441.318.641a18.376,18.376,0,0,1,.145,4.267,2.822,2.822,0,0,1-1.919,2.253m-9.905-24.53c-.29.094-.416.2-.457.5a21.689,21.689,0,0,0,.075,3.291.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,21.128,21.128,0,0,0,.037-3.212.562.562,0,0,0-.372-.491Zm0,6.138c-.323.081-.417.29-.454.6a19.8,19.8,0,0,0,.072,3.192.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,24.258,24.258,0,0,0,.041-3.311c-.041-.215-.186-.308-.377-.39Zm0,6.138c-.323.081-.417.29-.454.6a19.8,19.8,0,0,0,.072,3.192.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,24.257,24.257,0,0,0,.041-3.311c-.041-.214-.186-.308-.377-.39Zm0,6.138c-.29.094-.416.2-.457.5a21.69,21.69,0,0,0,.075,3.291.323.323,0,0,0,.185.2l9.719-.031a.5.5,0,0,0,.148-.236,21.128,21.128,0,0,0,.037-3.212.562.562,0,0,0-.372-.491Z" transform="translate(-150.382 -193.639)"/>
                            <path id="Tracé_1854" data-name="Tracé 1854" d="M1.991,243.629a2.817,2.817,0,0,1-1.918-2.158,18.558,18.558,0,0,1,.173-4.527c.052-.157.269-.381.274-.461a9.531,9.531,0,0,1-.446-1.15,26.023,26.023,0,0,1,.009-4.02,2.434,2.434,0,0,1,2.1-1.975,7.331,7.331,0,0,1-1.167-8.695,7.127,7.127,0,0,1,10.759-2,7.311,7.311,0,0,1,.573,10.645,2.725,2.725,0,0,1,1.9,1.555,13.713,13.713,0,0,1,.072,4.827,8.73,8.73,0,0,0-.336.812c0,.129.25.418.315.639a12.927,12.927,0,0,1-.079,4.969,2.644,2.644,0,0,1-1.773,1.535ZM7.057,219.1c-6.82.238-6.3,10.859.831,10.139,6.145-.621,5.7-10.367-.831-10.139m-4.422,12.27c-.29.094-.416.2-.457.5a28.811,28.811,0,0,0,.052,3.314.357.357,0,0,0,.212.172l9.384.024a.5.5,0,0,0,.479-.384,16.135,16.135,0,0,0,.042-2.832c-.029-.286-.068-.689-.377-.774Zm0,6.138c-.29.094-.416.2-.457.5a28.811,28.811,0,0,0,.052,3.314.357.357,0,0,0,.212.172l9.384.024a.5.5,0,0,0,.479-.384,16.134,16.134,0,0,0,.042-2.832c-.029-.287-.068-.689-.377-.774Z" transform="translate(0 -194.525)"/>
                            <path id="Tracé_1855" data-name="Tracé 1855" d="M92.975,6.779c-.753-.754.19-1.977.112-2.844L80.467,14.043a1.183,1.183,0,0,1-1.052.3c-2.347-1.506-4.591-3.2-6.852-4.845L60.884,19.2a1.079,1.079,0,1,1-1.318-1.7L71.7,7.387a1.077,1.077,0,0,1,1.345-.1l6.442,4.592.221.063L91.791,2.255c-.795-.239-1.7.336-2.445-.143A1.03,1.03,0,0,1,89.062.582c.289-.418.946-.454,1.431-.488C92.019-.013,93.662.049,95.2,0a1.027,1.027,0,0,1,.865,1.157c-.079,1.519-1.139,3.757-1.375,5.338a1.071,1.071,0,0,1-1.714.284" transform="translate(-52.973)"/>
                        </g>
                    </svg>
                    <span><b>2 500 EUR :</b> PIB / Habitant
                        x2 sur la période
                        2013 – 2023
                    </span>
                </span>
                <span class="icones d-flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49.042" height="49.103" viewBox="0 0 49.042 49.103">
                        <defs>
                        <clipPath id="clip-path">
                            <rect id="Rectangle_313" data-name="Rectangle 313" width="49.042" height="49.103" fill="none"/>
                        </clipPath>
                        </defs>
                        <g id="Groupe_504" data-name="Groupe 504" clip-path="url(#clip-path)">
                        <path id="Tracé_1849" data-name="Tracé 1849" d="M0,233.913a3.412,3.412,0,0,1,2.3-1.636c1.862-.539,5.848-.567,7.156,1.123a3.731,3.731,0,0,1,.355.565v6.692a9.863,9.863,0,0,1,6.566.024c.436.184,1.608.966,1.608,1.457v2.605a9.864,9.864,0,0,1,6.566.024c.436.184,1.608.966,1.608,1.457v8.633H27.79v-7.714a3.076,3.076,0,0,1,.46-.46h6.079V240.6a3.076,3.076,0,0,1,.46-.46h6.079v-7.714c0-.206.558-.446.76-.466,2.124-.211,4.592.174,6.755,0,.31-.019.413.29.659.414v23.7c-.246.124-.348.433-.659.414l-23.1-.008a15.664,15.664,0,0,1-2.6.82H19.821c-.6-.164-1.2-.3-1.79-.509-.261-.095-.723-.43-.91-.414-.109.009-.905.469-1.186.561-.468.154-.967.192-1.426.362H11.647c-.6-.164-1.2-.3-1.79-.509-.261-.095-.723-.43-.91-.414-.109.009-.905.469-1.186.561-.468.154-.967.192-1.426.362H3.474c-1.359-.334-2.76-.6-3.474-1.941Zm8.071.41c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m39.336-.717H42.5v21.251h4.9ZM8.174,236.365a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm0,4.087a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.071,2.045c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m24.624-.717h-4.9v13.078h4.9ZM8.174,244.538a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.045,10.045,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.071,2.045c-1.57-.795-4.706-1.009-6.2-.026-.1.064-.184-.012-.131.227,1.57.795,4.706,1.009,6.2.026.1-.064.184.012.131-.227m9.911,1.735h-4.9v6.539h4.9Zm-26.156.307a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.094a6.7,6.7,0,0,0,6.539,0ZM8.174,252.712a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Zm8.174,0a10.022,10.022,0,0,1-6.539,0v2.095a6.7,6.7,0,0,0,6.539,0Z" transform="translate(0 -208.207)"/>
                        <path id="Tracé_1850" data-name="Tracé 1850" d="M45.036.062A19.951,19.951,0,0,1,62.666,17.944a6.707,6.707,0,0,1-1.687.2A17.9,17.9,0,0,0,55.6,6.821l-.21.059L51.48,10.136c-.044.184,1.253,2.893,1.372,3.411a1.564,1.564,0,0,1,.046.66,40.619,40.619,0,0,1-2.5,3.429c-.147.153-.294.364-.514.406-1.069.2-3.068-.253-4.039.048a20.956,20.956,0,0,0-2.338,1.757l.045.237,2.422,3.661c.278.162,2.519-.086,3.093.023a1.522,1.522,0,0,1,.564.458V30.3H48V25.4h-2.81c-.323,0-3.159-4.749-3.673-5.317-.219-.634-.009-.834.407-1.219.3-.28,3.093-2.38,3.291-2.431.812-.208,3.515.2,4.01-.077.318-.685,1.571-1.791,1.788-2.406a.42.42,0,0,0,.035-.324L49.658,10.2l0-.671,4.576-3.9A14.667,14.667,0,0,0,52.384,4.31a10.861,10.861,0,0,0-1.524-.836c-.111-.028-.172-.045-.258.053l-5,5.017c-.183,1.676.107,3.414-.149,5.061l-5.22,3.566a1.042,1.042,0,0,1-.87-.041l-3.183-3.152L32.062,13.9c-.158-.145-.365-.284-.409-.511-.13-.682.181-2.531-.053-3.012l-2.659-1.6a16.837,16.837,0,0,0-3.626,8.451h4.24c.974.982,1.666,2.207,2.571,3.253l6.469.07a2,2,0,0,1,.35.365,41.048,41.048,0,0,1,2.433,4,1.39,1.39,0,0,1,.078.736c-.12.612-3.268,2.447-3.268,2.659V30.3H36.555v-2.81c0-.232,2.632-1.979,2.945-2.348l-1.713-2.868-.358-.153-6.114-.016a31.6,31.6,0,0,1-2.575-3.249H25.215a11.37,11.37,0,0,0,.095,3.1c-.067.238-1.448.256-1.73.269A19.8,19.8,0,0,1,37.09.954,20.918,20.918,0,0,1,41.255.062a29.354,29.354,0,0,1,3.78,0M33.286,9.512c.178.631-.133,2.081,0,2.81h3.627c.21,0,2.514,2.7,2.978,2.948l4-2.56.074-4.882L49.02,2.719a18.136,18.136,0,0,0-13.045.492,18.876,18.876,0,0,0-5.957,4.156c0,.2,3.147,1.72,3.268,2.145" transform="translate(-21.026 -0.001)"/>
                        <path id="Tracé_1851" data-name="Tracé 1851" d="M262.886,148.684h-1.635l-.051-1.226-16.757,16.755H240v-1.635h3.729l16.3-16.3-1.226-.051V144.6h3.627a3.075,3.075,0,0,1,.46.46Z" transform="translate(-215.479 -129.823)"/>
                        <rect id="Rectangle_312" data-name="Rectangle 312" width="1.635" height="1.635" transform="translate(21.251 32.756)"/>
                        </g>
                    </svg>              
                    <span><b>+7% :</b> croissance
                        moyenne de l’économie
                        2015 – 2025
                    </span>
                </span>
            </div>
            <p><b>Abidjan, vibrante et cosmopolite</b>, est un carrefour immanquable pour les 
                grandes enseignes internationales. Son dynamisme, soutenu par une 
                <b>croissance économique exceptionnelle</b>, en fait une terre d’opportunités 
                sans équivalent en Afrique de l’Ouest.</p>
                
            <p><b>L’économie ivoirienne</b>, parmi les plus performantes d’Afrique 
                Subsaharienne, <b>attire les investisseurs étrangers et l’implantation 
                d’entreprises internationales</b>. Ses infrastructures modernes, sa stabilité politique et monétaire offrent <b>un cadre idéal pour le développement du retail et des nouvelles expériences commerciales</b>.</p>
                
            <p>Déjà prisée par des géants de la grande distribution et du FMCG* (tels 
                que Carrefour, Auchan, Mr. Bricolage ou encore la FNAC), Abidjan
                confirme ces dernières années sa <b>position de leader africain du 
                marché de la consommation</b> par l’installation croissante d’enseignes 
                internationales dans les domaines de la mode (Hugo Boss, Lacoste, Tommy 
                Hilfiger), de la restauration (Burger King, Em Sherif, Tsunami, Eric Kayser) et du loisir (Cinéma Pathé, Casino Barrière).</p>
        </div>
    </div>
    <div class="presentation__illust" style="background: url({{asset('assets/medias/bg/abidjan.png')}}) top / cover no-repeat; width: 100%; height: 100%"></div>
</section>
{% endblock %}
