{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block stylesheets %}
<style>
.grid-container > * {
    border: 1px solid #ddd;
}
</style>
{% endblock %}

{% block body %}
<section id="carrousel" class="carrousel">
    <div class="carrousel__div" style="background: url({{asset('assets/medias/bg/homeCover.png')}}) top / cover no-repeat;">
        <div class="container grid-container">
            <div class="carrousel__title">
                <h1>Des <span class="">commerces</span> en plein coeur de Zone 4</h1>
                <p>Livraison : 2<sup>e</sup> semestre 2025</p>
            </div>
            <div class="carrousel__form-div">
                <div>
                    <span>Développé par</span>
                    <img src="{{ asset('assets/medias/logos/logoPFO_white.png') }}" alt="PFO" height="45">
                </div>
                <form action="" method="post" class="carrousel__form">
                    <h3 class="carrousel__form-title">Nous vous répondons</h3>

                </form>
            </div>
        </div>
    </div>
</section>

<section id="presentation" class="container">
    <div class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero aspernatur aliquam reprehenderit aut beatae quidem possimus placeat facilis repellat voluptatum dignissimos ipsum, numquam reiciendis, nobis doloremque eveniet officia at accusantium.
    </div>
    <div class=""></div>
</section>
{% endblock %}
